.DS_Store
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/

# CocoaPods (only if you use Pods)
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/screenshots/
fastlane/test_output/